SoaArchitectureSkeleton/Homework/HomeWork.TL.CoreSite/Service References/EnterpriseService/TlSamples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://TlSamples" elementFormDefault="qualified" targetNamespace="https://TlSamples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Enterprise.Service.Shared.Contracts.DataContracts" />
  <xs:element name="GetOrderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Enterprise.Service.Shared.Contracts.DataContracts" minOccurs="0" name="GetOrderByIdResult" nillable="true" type="q1:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByIdDuplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Enterprise.Service.Shared.Contracts.DataContracts" minOccurs="0" name="order" nillable="true" type="q2:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>