ClientServerSimpleSkeleton/ClientServerSimple/Client/SimpleApp.Client.ServiceModel/Xsd/SimpleApp_Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AppleDto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SortName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Color" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Size" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplesDto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Apples" type="ArrayOfAppleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAppleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppleDto" nillable="true" type="AppleDto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
